/venv*
/dist
/build
/Отчет*
.idea
*.spec
/.ipynb_checkpoints
test*.py
__pycache__/
*.ipynb
*.png
/KivyMD
mylog.txt
pyinstaller.help.txt
main.build/
main.dist/
main.onefile-build/
main.exe
config.toml
*.log
stuff.txt
*.pkl
*