# DATA MANIPULATION LIBRARY

numpy
scipy

# DATA VALIDATION

pydantic==2.9.2
pydantic-async-validation==0.2.0

# QUERING DATA FROM DB

SQLAlchemy
psycopg2

# PLOTTING DATA

matplotlib

# UI

# QT6
pyside6